---
layout: base.njk
title: Cameron Gorrie
description: Cameron Gorrie — software architect, musician, leader, advocate
nav:
  - { label: "Home", href: "/" }
  - { label: "Resume", href: "/resume/" }
  - { label: "Email", href: "mailto:sastraxi+weblinks@gmail.com", external: true }
  - { label: "GitHub", href: "https://github.com/sastraxi", external: true }
  - { label: "LinkedIn", href: "https://www.linkedin.com/in/camerongorrie/", external: true }
---
<section class="block">
  <p class="lede" style="font-style: italic; padding: 0 2rem; max-width: 27rem; margin-left: auto; margin-right: auto">
    Show me a problem, and I'll show you which tools we need to solve it.
  </p>
  
  <br>

  <p>
    Principal dev @
    <a href="https://www.floatfinancial.com/" rel="noopener">Float</a>.
    Previously devex @
    <a href="https://www.snowflake.com/en/" rel="noopener">Snowflake</a>
    and co-founder of
    <a href="https://trillertv.com/" rel="noopener">Robin&nbsp;Media</a>&nbsp;(acq.).
  </p>

  <p>
    I play in a band called <a href="https://parallelcreak.com/">Parallel Creak</a>.
    I like to go running, play squash, and ride my bike. If you want to know more about
    me, you should probably just ask. Or continue to develop a parasocial relationship;
    you do you!
  </p>
</section>
<br>
<section>
  <h2>What am I up to?</h2>

  <p>
    Gigging and building music software.
  </p>

  <p>
    <span class="prompt">&gt;</span> watch this:
    <a href="https://www.youtube.com/watch?v=qgewR0xmTFo" rel="noopener">youtube.com/watch?v=qgewR0xmTFo</a>
  </p>

  <p>
    That device is called a <a href="https://www.treefallsound.com/">pi-Stomp v3</a> and
    it's taken up most of my free time lately. The combination of its sound, LV2 and
    open-source plugin ecosystem, the possibility of unlimited customization, and
    LLM-assisted coding have made this pedal a dream to take on stage.
  </p>

  <p>
    Follow our development at <a href="https://github.com/treefallsound/pi-stomp">treefallsound/pi-stomp</a>
  </p>


</section>